{
	"Serilog": {
		"Using": [
			"Serilog",
			"Serilog.Formatting.Compact",
			"Serilog.Sinks.Debug",
			"Serilog.Sinks.Console",
			"Serilog.Sinks.Async",
			"Serilog.Sinks.File",
			"Serilog.Enrichers.Thread",
			"Phoenix.Functionality.Logging.Extensions.Serilog.File"
		],
		"MinimumLevel": {
			"Default": "Verbose",
			"Override": {
				"Microsoft": "Warning",
				"Microsoft.EntityFrameworkCore": "Warning",
				"System": "Warning",
				"Operation1": "Verbose",
				"Operation2": "Warning"
			}
		},
		"LevelSwitches": {
			"$debugSwitch": "Verbose",
			"$consoleSwitch": "Verbose",
			"$fileSwitch": "Verbose"
		},
		"Enrich": [
			"FromLogContext",
			"WithThreadId"
		],
		"WriteTo": [
			{
				"Name": "Debug",
				"Args": {
					"theme": "Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console",
					"outputTemplate": "[{Timestamp:HH:mm:ss.ffff} {Level:u3}] [{SourceContext:l}] {Message:lj} {EventId}{NewLine}{Exception}",					
					"levelSwitch": "$debugSwitch"
				}
			},
			{
				"Name": "Console",
				"Args": {
					"theme": "Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console",
					"outputTemplate": "[{Timestamp:HH:mm:ss.ffff} {Level:u3}] [{SourceContext:l}] {Message:lj} {EventId}{NewLine}{Exception}",
					"levelSwitch": "$consoleSwitch"
				}
			}
		],
		"WriteTo:Async": {
			"Name": "Async",
			"Args": {
				"bufferSize": 1000,
				"blockWhenFull": false,
				"configure": [
					{
						"Name": "File",
						"Args": {
							"path": ".log\\log_.json",
							"formatter": "Serilog.Formatting.Compact.CompactJsonFormatter, Serilog.Formatting.Compact",
							"shared": false,
							"rollingInterval": "Day",
							"retainedFileCountLimit": 1,
							"fileSizeLimitBytes": null,
							"levelSwitch": "$fileSwitch",
							"hooks": "Phoenix.Functionality.Logging.Extensions.Serilog.File.ArchiveHook, Phoenix.Functionality.Logging.Extensions.Serilog.File"
						}
					}
				]
			}
		}
	}
}