{
	"Serilog": {
		"Using": [
			"Serilog",
			"Serilog.Formatting.Compact",
			"Serilog.Sinks.Debug",
			"Serilog.Sinks.Console",
			"Serilog.Sinks.Async",
			"Serilog.Sinks.File",
			"Serilog.Enrichers.Thread",
			"Phoenix.Functionality.Logging.Extensions.Serilog.Seq"
		],
		"MinimumLevel": {
			"Default": "Verbose",
			"Override": {
				"Microsoft": "Warning",
				"Microsoft.EntityFrameworkCore": "Warning",
				"System": "Warning",
				"Operation1": "Verbose",
				"Operation2": "Warning"
			}
		},
		"LevelSwitches": {
			"$debugSwitch": "Verbose",
			"$consoleSwitch": "Verbose",
			"$fileSwitch": "Verbose"
		},
		"Enrich": [
			"WithThreadId"
		],
		"WriteTo": [
			{
				"Name": "Debug",
				"Args": {
					"theme": "Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console",
					"outputTemplate": "[{Timestamp:HH:mm:ss.ffff} {Level:u3}] [{SourceContext:l}] {Message:lj}{NewLine}{Exception}",
					"levelSwitch": "$debugSwitch"
				}
			},
			{
				"Name": "Console",
				"Args": {
					"theme": "Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console",
					"outputTemplate": "[{Timestamp:HH:mm:ss.ffff} {Level:u3}] [{SourceContext:l}] {Message:lj}{NewLine}{Exception}",
					"levelSwitch": "$consoleSwitch"
				}
			},
			{
				"Name": "Seq",
				"Args": {
					"seqHost": "http://localhost",
					"seqPort": 5341,
					"applicationTitle": "Phoenix.LogEmitter",
					"configurationApiKey": "pYHlGsUQw5RsLSFTJHKF",
					"queueSizeLimit": 1000
				}
			}
		]
	}
}